/* 3D SECTION */
.rotate-section{
    width: 100vw;
    height: 100vh; 
    background:map-get($map: mapcolor, $key:gradient1 ) ;
    @include flex(flex,space-between,center);
}
model-viewer{
    width: 30%;
    height: 100vh;
    text-align: center;
}
.presentation{
    padding-top: 30%;
    text-shadow: map-get($map:mapcolor, $key:textshadow1);
}