*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'VT323', monospace;
    color: aliceblue;
}
body{
    background-color: map-get($map: mapcolor, $key:color2 );

}
html{
    scroll-behavior: smooth;
}
.nav{z-index: 99;}


header{
    background-color: map-get($map:mapcolor, $key:color2 );
    width: 100%;
    height: 100px;
    @include flex(flex,space-between,center);
    position: fixed;
    z-index: 99;
    img{
        height: 100%;
        width: auto;
        display:inline-block;
      }
}
ul {
    li {
    display: inline-block;
    font-size: 30px;
    padding:20px;
    transition: all 0.3 ease;}
}
