/* Home section style */

.container-index{
    width: 100vw;
    background-color: map-get($map: mapcolor, $key:color2 );
    display: flex;
    justify-content: center;
    video {
        object-fit: cover;
        width: 100vw;
        height: 100vh;
    }
    img{
        position: absolute;
        top: 35vh;
    }
    
}
/* footer*/

footer{
    width: 100vw;
    height: 150px;
    background-color: map-get($map: mapcolor, $key:color2 );
    @include flex(flex,center,center);
    z-index: 20;
    h1{
        font-size: 20px;
    }
}
ul li:hover{
    transform: scale(1.2,1.2);
    

}